@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4b4c5f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
}

main {
  background: #ffffff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  max-width: 920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-right: 95px;
  min-height: 509px;
}

.heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 43px;
}

.right-content {
  padding: 65px 0 83px 0;
  width: 445px;
}

.left-content {
  background: url("./images/bg-pattern-desktop.svg") no-repeat;
  background-position: 116% 65%;
  position: relative;
  width: 100%;
  height: 535px;
}

.woman {
  position: relative;
  left: -85px;
  top: 110px;
}

.box {
  top: 50px;
  left: 90px;
  position: relative;
  z-index: 10;
}

/* --------------------- FAQ ITEM ------------------------- */
.faq-item {
  border-bottom: 1px solid #e8e8ea;
}

.question {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4b4c5f;
  width: 350px;
}

.question-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 8px;
  cursor: pointer;
}

.question:hover {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f47b56;
}

.arrow {
  align-self: center;
}

.answer {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  margin-bottom: 10px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

/* Hide the standard radio inputs */
.accordion input {
  display: none;
}

/* Selects the .question class inside a label which 
immediately follow a checked input where the parent is a .faq-item class */

.faq-item > input:checked + label .question {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #1e1f36;
}

/* Animate the arrow when it rotates */
.faq-item > input:checked + label .arrow {
  transform: rotate(180deg);
  transition: 0.5s;
}

/* Animate the arrow when it rotates back into the initial position */
.faq-item > input + label .arrow {
  transition: transform 0.5s;
}
